.App {
  min-height: 100vh;
  --light-bg: hsl(var(--clr-white));
  --dark-color: hsl(var(--clr-white));
  --dark-value: hsl(var(--clr-white), 0.75);
  --transition-color: color 0.25s ease-out;
  --light-color: hsl(var(--clr-light-mode-text));
  --dark-bg: hsl(var(--clr-dark-mode-elements));
  --transition-box-shadow: box-shadow 0.25s ease-in-out;
  --transition-background-color: background-color 0.25s ease-in;
  --dark-box-shadow: 0 2px 10px hsl(var(--clr-light-mode-text), 0.25);
  --light-box-shadow: 0 2px 10px hsl(var(--clr-light-mode-input), 0.25);
  transition: var(--transition-background-color);
}

.App.dark {
  background-color: hsl(var(--clr-dark-mode-bg));
}

.App.light {
  background-color: hsl(var(--clr-light-mode-bg));
}

@media screen and (min-width: 375px) {
  :root {
    --padding-inline: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --padding-inline: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --padding-inline: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --padding-inline: 5rem;
  }
}
