@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;800&display=swap");
:root {
  /* Primary Colors */
  --clr-dark-mode-elements: 209, 23%, 22%;
  --clr-dark-mode-bg: 207, 26%, 17%;
  --clr-light-mode-text: 200, 15%, 8%;
  --clr-light-mode-input: 0, 0%, 52%;
  --clr-light-mode-bg: 0, 0%, 98%;
  --clr-white: 0, 0%, 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.85rem;
  --fs-100: 0.8rem;
  --fs-home: 0.875rem;

  /* font-families */
  --ff-default: "Nunito Sans", sans-serif;

  /* starting padding */
  --padding-inline: 1rem;
}

/* Custom properties */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html:focus-within,
html {
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-default);
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

button {
  cursor: pointer;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  appearance: none;
  border: none;
  outline: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom properties */

/* Reused styles start*/

.container {
  max-width: 100rem;
  margin-inline: auto;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.none {
  display: none;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.smooth {
  scroll-behavior: smooth;
}

.w-100 {
  width: 100%;
}

.br-5 {
  border-radius: 5px;
}

.br-top-5 {
  border-radius: 5px 5px 0 0;
}

.br-bottom-5 {
  border-radius: 0 0 5px 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--clr-light-mode-text), 0.8);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-light-mode-input));
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--clr-light-mode-input), 0.8);
}

::selection {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-light-mode-text));
}
